<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<div class = "container">
    <h2 class = "home-headline">Welcome to My Portfolio Website</h2>
    <p class = "home-content">I'm delighted to have you here. This is where my journey, passion, and creativity come to life. As you explore my work, you'll gain insight into my skills, experiences, and the stories I've had the privilege to tell through my projects.<br><br>

        Feel free to browse through my portfolio, and if you have any questions or opportunities for collaboration, don't hesitate to get in touch. Thank you for taking the time to visit, and I hope you find my work both engaging and inspiring.<br><br>
        
        Enjoy your stay!<br><br>
        
        Warm regards,<br>
        <%= name %>
    </p>
    <div class = "next-page-btn">
        <a href="/aboutme"><button>About Me</button></a>
        <a href="/project"><button>Projects</button></a>
        <a href="/contact"><button>Contact</button></a>
        <a href="/services"><button>Services</button></a>
    </div>
</div>



<%- include ('partials/footer.ejs') %>
