<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<div class = "container">
    <div class = "project-headline">
        <h2>MY PROJECTS</h2>
    </div>
    <div class ="project-content">
        <div class = "item-project">
            <div class = "project-image">
                <img src = "img/project1.png" alt = "Project 1">
            </div>
            <div class = "project-text">
                <h3>Real Estate Agent Website</h3>
                <p style = "font-weight: bold;">Description/p>
                <p>This is an individual project in my first semester - COMP 213 Web Interface Design</p>
                <a href = "#">Visit Site</a>
                <div class = "elements">
                    <p>HTML</p>
                    <p>CSS</p>
                </div>
            </div>
        </div>
        <div class = "item-project">
            <div class = "project-image">
                <img src = "img/db.png" alt = "Project 2">
            </div>
            <div class = "project-text">
                <h3>Software Requirements Specifications</h3>
                <p style = "font-weight: bold;">Description<p>
                <p>This is a group project in my second semester - COMP 225 Software Requirements Engineering</p>
                <a href = "#">View Document</a>
                <div class = "elements">
                    <p>MS Word</p>
                    <p>MS Team</p>
                    <p>MS Visio</p>
                    <p>Visual Paradigm</p>
                </div>
            </div>
        </div>
        <div class = "item-project">
            <div class = "project-image">
                <img src = "img/db1.png" alt = "Project 3">
            </div>
            <div class = "project-text">
                <h3>Online Course Database</h3>
                <p style = "font-weight: bold;">Descriptionp>
                <p>This is a group project in my second semester - COMP 122 Introduction to Database</p>
                <a href = "#">View Demo</a>
                <div class = "elements">
                    <p>Oracle SQL</p>
                    <p>Lucid Chart</p>
                    <p>MS Word</p>
                    <p>MS Team</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>