<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<div class = "container">
    <div class = "services-headline">
        <h2>MY SERVICES</h2>
    </div>
    <div class="serives-content">
        <div class = "item-service">
            <div class = "service-image">
                <img src = "img/frontend.png" alt = "FrontEnd">
            </div>
            <div class = "service-text">
                <h3>FrontEnd</h3>
                <p>HTML - CSS - JavaScript</p>
            </div>
        </div>
        <div class = "item-service">
            <div class = "service-image">
                <img src = "img/backend.png" alt = "BackEnd">
            </div>
            <div class = "service-text">
                <h3>BackEnd</h3>
                <p>C# - Python - Java - JavaScript</p>
            </div>
        </div>
        <div class = "item-service">
            <div class = "service-image">
                <img src = "img/data.png" alt = "Data">
            </div>
            <div class = "service-text">
                <h3>Data</h3>
                <p>MongoDB - Oracle SQL - MySQL</p>
            </div>
        </div>
        <div class = "item-service">
            <div class = "service-image">
                <img src = "img/design.png" alt = "Design">
            </div>
            <div class = "service-text">
                <h3>Design</h3>
                <p>Photoshop - Visual Paradigm</p>
            </div>
        </div>
        <div class = "item-service">
            <div class = "service-image">
                <img src = "img/office.png" alt = "Office">
            </div>
            <div class = "service-text">
                <h3>Office</h3>
                <p>MS Office</p>
            </div>
        </div>
        <div class = "item-service">
            <div class = "service-image bounce-6">
                <img src = "img/others.png" alt = "Others">
            </div>
            <div class = "service-text">
                <h3>Others</h3>
                <p>Project Management</p>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>